$h1-font-size: 36px;
$h2-font-size: 34px; //done
$h3-font-size: 25px;
$h4-font-size: 19px; // done
$h5-font-size: 18px; // done
$h6-font-size: 16px; //done

$base-font-size: 16px;
$HeadingsFontFamily: "Power Grotesk";
$textFontFamily: "Isola Mono Trial";
